@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "mainLayout.cshtml";
	ViewBag.Title = @Model?.Value("pageTitle") ?? null;

	@*Hero Section*@
	var backgroundImage = Model?.Value<IPublishedContent>("heroBackgroundImage")?.Url() ?? "";

	@*About us Section*@
	var signatureImage = Model?.Value<IPublishedContent>("aboutSignatureImage")?.Url() ?? "";

	@*Our Services Section*@
	var riskPicture = Model?.Value<IPublishedContent>("ourServicesRiskPicture")?.Url() ?? "";
	var bondsPicture = Model?.Value<IPublishedContent>("ourServicesBondsPicture")?.Url() ?? "";
	var assurancePicture = Model?.Value<IPublishedContent>("ourServicesAssurancePicture")?.Url() ?? "";
	var taxPicture = Model?.Value<IPublishedContent>("ourServicesTaxPicture")?.Url() ?? "";
	var financialPicture = Model?.Value<IPublishedContent>("ourServicesFinancialPicture")?.Url() ?? "";
	var statisticPicture = Model?.Value<IPublishedContent>("ourServicesStatisticPicture")?.Url() ?? "";

	@*Clients Section*@
	var clientsPicture = Model?.Value<IPublishedContent>("clientsPicture")?.Url() ?? "";

	@*Success Section*@
	var successPicture = Model?.Value<IPublishedContent>("successPicture")?.Url() ?? "";

	@*Our Projects Section*@
	var juvaPicture = Model?.Value<IPublishedContent>("ourProjectsBoxOnePicture")?.Url() ?? "";
	var businessinsightPicture = Model?.Value<IPublishedContent>("ourProjectsBoxTwoPicture")?.Url() ?? "";
	var irraPicture = Model?.Value<IPublishedContent>("ourProjectsBoxThreePicture")?.Url() ?? "";
	var buccuraPicture = Model?.Value<IPublishedContent>("ourProjectsBoxFourPicture")?.Url() ?? "";

    @*Partners Section*@
    var freedombirdPicture = Model?.Value<IPublishedContent>("partnerOnePicture")?.Url() ?? "";
    var identityPicture = Model?.Value<IPublishedContent>("partnerTwoPicture")?.Url() ?? "";
    var naturalPicture = Model?.Value<IPublishedContent>("partnerThreePicture")?.Url() ?? "";
    var simpleafPicture = Model?.Value<IPublishedContent>("partnerFourPicture")?.Url() ?? "";
    var globePicture = Model?.Value<IPublishedContent>("partnerFivePicture")?.Url() ?? "";
    var fossilgroupPicture = Model?.Value<IPublishedContent>("partnerSixPicture")?.Url() ?? "";
}

<h1>@Model.Value("title")</h1>

<section id="hero-slider" class="hero">
	<div class="background" style="background-image:url(@backgroundImage); background-size: cover; background-position: 60%"></div>
	<div class="container">
		<div class="hero-content">
			<h1 class="headline">@Model?.Value("heroHeadline")</h1>
			<p class="ingress">@Model?.Value("heroText")</p>
			<div>
				<a href="@Model?.Value("heroButtonUrl")" class="btn btn-primary">@Model?.Value("heroButtonText")</a>
			</div>
		</div>
	</div>
</section>

<section id="about-us" class="about-us">
	<div class="container">
		<div class="content">
			<h5>@Model.Value("aboutSectionTitle")</h5>
			<h2>@Model.Value("aboutHeadline")</h2>
		</div>
		<blockquote class="quote">@Model.Value("aboutQuote")</blockquote>
		<p>@Model.Value("aboutText")</p>
		<div class="signature-container">
			<div class="signature">
				<img class="signature-image" src="@signatureImage" alt="@Model.Value("aboutSignature")" >
				<div class="clarification">
					<p class="name">@Model.Value("aboutSignature")</p>
				</div>
			</div>
		</div>
		<div class="form-container">
		    <h2>@Model.Value("aboutFormHeader")</h2>
    		<p>@Model.Value("aboutFormText")</p>

	    <form action="#" method="POST">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" placeholder="Name" required>

        <label for="email">Email address</label>
        <input type="email" id="email" name="email" placeholder="Email address" required>

        <label for="phone">Phone</label>
        <input type="tel" id="phone" name="phone" placeholder="Phone" required>

	    <label for="service">Service</label>
        <select id="service" name="service">
            <option value="financial_consulting">Financial consulting</option>
            <option value="tax_advice">Tax advice</option>
            <option value="investment_planning">Investment planning</option>
        </select>

        <input type="submit" value="Submit" placeholder="@Model.Value("aboutFormButtonText")">
		</form>
		</div>
	</div>
</section>

<section class="services-section">
        <div class="title">
			<h5>@Model.Value("ourServicesSectionTitle")</h5>
            <h2>@Model.Value("ourServicesHeadline")</h2>
        </div>
		        <div class="services-grid">
            <div class="service-box">
			    <h3>@Model.Value("ourServicesRiskHeadline")</h3>
                <img class="risk-picture" src="@riskPicture" alt="@Model.Value("ourServicesRiskPicture")" >
                <p>@Model.Value("ourServicesRiskText")</p>
            </div>
            <div class="service-box">
			    <h3>@Model.Value("ourServicesBondsHeadline")</h3>
                <img class="bonds-picture" src="@bondsPicture" alt="@Model.Value("ourServicesBondsPicture")" >
                <p>@Model.Value("ourServicesBondsText")</p>
            </div>
            <div class="service-box">
			    <h3>@Model.Value("ourServicesAssuranceHeadline")</h3>
                <img class="assurance-picture" src="@assurancePicture" alt="@Model.Value("ourServicesAssurancePicture")" >
                <p>@Model.Value("ourServicesAssuranceText")</p>
            </div>
            <div class="service-box">
			    <h3>@Model.Value("ourServicesTaxHeadline")</h3>
                <img class="tax-picture" src="@taxPicture" alt="@Model.Value("ourServicesTaxPicture")" >
                <p>@Model.Value("ourServicesTaxText")</p>
            </div>
            <div class="service-box">
			    <h3>@Model.Value("ourServicesFinancialHeadline")</h3>
                <img class="financial-picture" src="@financialPicture" alt="@Model.Value("ourServicesFinancialPicture")" >
                <p>@Model.Value("ourServicesFinancialText")</p>
            </div>
            <div class="service-box">
			    <h3>@Model.Value("ourServicesStatisticHeadline")</h3>
                <img class="statistic-picture" src="@statisticPicture" alt="@Model.Value("ourServicesStatisticPicture")" >
                <p>@Model.Value("ourServicesStatisticText")</p>
            </div>
        </div>
</section>

<section>
	<div class="clients-section">
		<h2>@Model.Value("clientsHeader")</h2>
    	<h3>@Model.Value("clientsSecondHeader")</h3>
    	<p>@Model.Value("clientsText")</p>
    	<button>@Model.Value("clientsButtonText")</button>

    	<img class="ClientsGroupPhoto" src="@clientsPicture" alt="@Model.Value("clientsPicture")" >
	</div>
</section>

<section>
	<div class="success-section">
    	<h3>@Model.Value("successSectionTitle")</h3>
    	<h2>@Model.Value("successHeader")</h2>
    <div class="stats-container">
        <div class="stats-item">
            @Model.Value("successNumberSectionOne")
            <p>@Model.Value("successNumberSectionOneText")</p>
        </div>
        <div class="stats-item">
            @Model.Value("successNumberSectionTwo")
            <p>@Model.Value("successNumberSectionTwoText")</p>
        </div>
        <div class="stats-item">
            @Model.Value("successNumberSectionThree")
            <p>@Model.Value("successNumberSectionThreeText")</p>
        </div>
    </div>

    	<div class="image-section">
        	<img class="Meeting-Picture" src="@successPicture" alt="@Model.Value("successPicture")" >
    	</div>
	</div>
</section>

<section class="projects-section">
		<h5>@Model.Value("ourProjectsSectionTitle")</h5>
        <h2>@Model.Value("ourProjectsHeader")</h2>
        <div class="projects-container">
            <div class="project-item">
                <img class="Juva-Meeting" src="@juvaPicture" alt="@Model.Value("ourProjectsBoxOnePicture")" >
                <div class="project-info">
                    <h3>@Model.Value("ourProjectsBoxOneHeader")</h3>
                    <p>@Model.Value("ourProjectsBoxOneText")</p>
                </div>
            </div>
            <div class="project-item">
                <img class="Business-Insights" src="@businessinsightPicture" alt="@Model.Value("ourProjectsBoxTwoPicture")" >
                <div class="project-info">
                    <h3>@Model.Value("ourProjectsBoxTwoHeader")</h3>
                    <p>@Model.Value("ourProjectsBoxTwoText")</p>
                    <span class="arrow">&#8250;</span>
                </div>
            </div>
            <div class="project-item">
                <img class="Irra-Corp" src="@irraPicture" alt="@Model.Value("ourProjectsBoxThreePicture")" >
                <div class="project-info">
                    <h3>@Model.Value("ourProjectsBoxThreeHeader")</h3>
                    <p>@Model.Value("ourProjectsBoxThreeText")</p>
                </div>
            </div>
            <div class="project-item">
                <img class="Buccura-Inc" src="@buccuraPicture" alt="@Model.Value("ourProjectsBoxFourPicture")" >
            <div class="project-info">
                <h3>@Model.Value("ourProjectsBoxFourHeader")</h3>
                <p>@Model.Value("ourProjectsBoxFourText")</p>
            </div>
        </div>
    </div>
</section>

<section class="logo-section">
        <div class="logo-container">
            <div class="logo-item">
                <img class="freedombird-logo" src="@freedombirdPicture" alt="@Model.Value("partnerOnePicture")" >
            </div>
            <div class="logo-item">
                <img class="identity-logo" src="@identityPicture" alt="@Model.Value("partnerTwoPicture")" >
            </div>
            <div class="logo-item">
                <img class="natural-logo" src="@naturalPicture" alt="@Model.Value("partnerThreePicture")" >
            </div>
            <div class="logo-item">
                <img class="simpleaf-logo" src="@simpleafPicture" alt="@Model.Value("partnerFourPicture")" >
            </div>
            <div class="logo-item">
                <img class="globe-logo" src="@globePicture" alt="@Model.Value("partnerFivePicture")" >
            </div>
            <div class="logo-item">
                <img class="fossilgroup-logo" src="@fossilgroupPicture" alt="@Model.Value("partnerSixPicture")" >
            </div>
        </div>
</section>